<div ng-show="currentCart.length !== 0" class="cart">
  <div ng-repeat="item in currentCart" class="cartCardContainer">
    <div class="cartCardImage">
      <img ng-src="{{ item.image }}"/>
    </div>
    <div class="cartCardInfo">
      <h3 class="alignCenter">{{ item.name }}</h3>
      <ul class="displayInline alignCenter">
        <li>qty: {{ item.count }}</li>
        <li>${{ item.price * item.count}}</li>
        <li ng-click="removeFromCart(item)">
          <a href="#" class="fakeButton">Remove (1) from Cart</a>
        </li>
      </ul>
    </div>
  </div>
  <h2 class="alignRight">Total: $ {{ totalCost }}</h2>
  <ul class="alignRight">
    <li ng-click="checkout()">
      <a href="#" class="fakeButtonCheckout">Checkout</a>
    </li>
  </ul>
</div>
<h2 class="alignCenter">{{ thankYouMessage }}</h2>
