<!-- If user is admin -->
<!-- allow them to add items to the shop -->
<div ng-if="ctrl.userIsAdmin">
  <form ng-submit="ctrl.addItem()">
    <fieldset>
      <legend>Add an Item</legend>
        <input type="text" placeholder="name" ng-model="ctrl.name" />
        <input type="number" placeholder="alphabetID" ng-model="ctrl.alphabetID" />
        <input type="text" placeholder="description" ng-model="ctrl.description" />
        <input type="text" placeholder="image link" ng-model="ctrl.image" />
        <input type="number" placeholder="price" ng-model="ctrl.price" />
        <input type="number" placeholder="stockQuantity" ng-model="ctrl.stockQuantity" />
        <br>
        <input type="submit" value="add item" />
    </fieldset>
  </form>
</div>
<!-- List all items for sale -->
<!-- Repeated item cards start here -->
<div class="showAllItems">
  <div  class="itemCard alignDiv" ng-repeat="item in ctrl.items">
    <div class="itemCardTitleInfo">
      <div class="itemCardImage">
        <img ng-src={{item.image}}>
      </div>
      {{ item.name }}
    </div>
    <div>
      <div class="itemCardInfo">
        <p>{{ item.description }}</p>
        <ul>
          <li ng-hide="item.stockQuantity === 0">In Stock: {{ item.stockQuantity }}</li>
          <li ng-show="item.stockQuantity === 0" class="soldOut">Out of Stock</li>
          <li>${{ item.price }}</li>
        </ul>
      </div>
      <div class="addEditDelete">
        <input type="submit" value="Edit"
            ng-if="ctrl.userIsAdmin"
            ng-click="ctrl.indexOfEditForm = item._id"
            ng-dblclick="ctrl.indexOfEditForm = null" />
        <input type="submit" value="Delete"
            ng-if="ctrl.userIsAdmin"
            ng-click="ctrl.deleteItem(item)" />
        <input type="submit" value="Add to Cart"
            ng-if="ctrl.loggedInUser"
            ng-click="addToCart(item)" />
      </div>
    </div>
    <div  class="itemCardEditForm"
          ng-if="ctrl.indexOfEditForm === item._id">
      <fieldset>
        <form ng-submit="ctrl.editItem(item)">
          <input  type="text"
                  ng-value="item.name"
                  ng-model="ctrl.updatedName"/>
          <input  type="number"
                  ng-value="item.alphabetID"
                  ng-model="ctrl.updatedAlphabetID"/>
          <input  type="text"
                  ng-value="item.description"
                  ng-model="ctrl.updatedDescription"/>
          <input  type="number"
                  ng-value="item.price"
                  ng-model="ctrl.updatedCost"/>
          <input  type="text"
                  ng-value="item.image"
                  ng-model="ctrl.updatedImage"/>
          <input  type="number"
                  ng-value="item.stockQuantity"
                  ng-model="ctrl.updatedQuantity"/><br>
          <input  type="submit" value="edit item"/>
        </form>
      </fieldset>
    </div>
  </div>
</div>
<!-- If user is admin
allow them to reseed original data to the shop database -->
<!-- <div>
  <div ng-if="ctrl.userIsAdmin" class="centerDiv">
    <p>If the database is empty, please reseed.</p>
    <form ng-submit="ctrl.seedDatabase()">
      <input type="submit" value="reseed database">
    </form>
  </div>
</div> -->
<!-- Repeated item cards end here -->
