<div class="mainTitle">
  <h1>The Alphabet Emporium</h1>
  <h3>Checkout</h3>
</div>
<div class="itemCardContainer" ng-controller="CheckoutCtrl">
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="i in selectedItems" ng-if="i.itemSelected !=0">
        <td>{{i.itemName}}</td>
        <td>{{i.itemSelected}}</td>
      </tr>
      <tr>
        <td>Total:</td>
        <td>${{checkoutTotal}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="cartCalculations">
  <a href="#!/cart">Customize</a>
</div>
